---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import { WORK_LINKS } from "@/data/constants";
import profileImg from "../assets/profile-picture.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p class="text-justify">
			Hello, my name is Juan Manuel and I'm 27 yo. I'm currently located in Argentina 🇦🇷 and working as a Senior iOS developer for 
			<a
				class="sm:hover:underline"
				href={WORK_LINKS.venmo}
				target="_blank"
			>Venmo</a>.
		</p>
		<p class="text-justify">
			My professional journey in the development world began in 2018, during the last year of my Software Engineering studies.
			I started with cross-platform technologies such as Xamarin and React Native, but then transitioned to native iOS development using Swift, which I fell in love with due to the language and its ecosystem.
			Since then, I've been focused on increasing and applying my knowledge to develop for Apple platforms.
			I have real-world experience with Objective-C, Swift, UIKit, SwiftUI, several mobile architectural patterns, Combine, RxSwift, Swift Package Manager, CocoaPods, and more.
		</p>
		<div class="flex justify-center">
			<Image
				src={profileImg}
				class="h-52 w-56 rounded-lg basis-1/4"
				alt="A picture of me in Grinderwald, Switzerland"
				loading="eager"
			/>
		</div>
		<p class="text-justify">
			I value working for high-impact products because it allows me to see firsthand how my day-to-day work translates into meeting people's needs and changing lives.
			I'm particularly interested in topics such as startups, finances, crypto/web3, economy, UX/UI, productivity, climate change, physical and mental health, reading, fitness, science, and more.
			Everyday, I try to apply my technical knowledge to full-time and freelance jobs, as well as open-source contributions that are aligned with these interests.
		</p>
		<p class="text-justify">
			In my free time I usually work on side projects, read books, run, go to the gym, hang out with people, or plan trips to expand my knowledge of the world around me.
		</p>
		<p class="text-justify">
			Feel free to send me a DM!
		</p>
	</div>
</PageLayout>