---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import profileImg from "../assets/profile-picture.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<div class="flex justify-center mb-8">
			<Image
				src={profileImg}
				class="h-32 w-32 rounded-full object-cover"
				alt="A picture of me in Grindelwald, Switzerland"
				loading="eager"
			/>
		</div>
		<h1 class="title">Juan, the engineer</h1>
		<p>
			Being able to build <i>something</i> from <i>nothing</i>, going from 0 to 1,
			felt like magic since the first day he wrote his first line of code
			(it was a simple <i>"Hello world"</i> on a black terminal, built in Pascal).
			It's like a Lego, one brick at a time and then, suddenly, you have a castle in front of you.
			A castle created by you. Which can be used by others.
			This was the fuel that drove him to learn more and more about this craft.
		</p>
		<p>
			He finished his software engineering studies in 2018 and started working as a mobile developer.
			His first experiences were with cross-platform technologies such as Xamarin and React Native,
			but then transitioned to native iOS development using Swift.
			He fell in love with the language and its clean ecosystem.
			Since then, he's been focused on increasing and applying his knowledge to develop for Apple platforms.
		</p>
		<p>
			He values working on products he cares about —being both the developer and the end user.
			That's why he's particularly interested in industries that are part of his day to day life:
			programming, UX/UI, health & fitness, finances & economy, creative writing, literature, philosophy, science, eLearning, and more.
		</p>
		<h1 class="title">Juan, the writer</h1>
		<p>
			But the process of creating something from scratch cannot only be done with code.
			You can also create with <i>words</i>.
			Plain words in natural language.
			Words that can express ideas, thoughts, emotions.
			And those ideas, thoughts and emotions can be shared with others,
			connecting the author and the reader through the text.
		</p>
		<p>
			His first approach to the world of writing and reading was in childhood.
			He was lucky to have two parents who were both avid readers, so books were always around him.
			He doesn't exactly remember if the first book he read was <i>The Little Prince</i> (Saint-Exupéry)
			or a novel by Gabriel García Márquez (<i>No one writes to the Coronel</i>).
			He does remember the first piece of fiction he wrote, though:
			it was a fable that explained the origin of trees.
			He experienced the same feeling as Juan, the engineer, with the first <i>"Hello world"</i>:
			from his head emerges a set of symbols that, together,
			created a castle of meaning in which he can take refuge from the rest of the world.
		</p>
		<p>
			And it feels good.
		</p>
		<p>
			Juan, the writer, didn't follow an academic approach like Juan, the engineer.
			He just reads and writes whatever he wants, whenever he wants, and wherever he wants.
			That can lead to some intellectual gaps,
			but at the same time lets him explore the nature of randomness.
		</p>
		<hr />
		<p>
			In this blog, you can find both Juans in action. Working together.
		</p>
	</div>
</PageLayout>