---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import { READING_LINKS, WORK_LINKS } from "@/data/constants";

const MAX_POSTS = 100;
const allPosts = await getCollection("post");
const englishPosts = allPosts.filter(post => post.data.language === "en");

const allPostsByDate = sortMDByDate(englishPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">
			Life isn't about finding yourself, or finding anything.
			<br />
			Life is about creating yourself.
			<br />
			And creating things. (Bob Dylan)
		</h1>
		<p class="mb-4">
			A random guy who writes, both in natural and programming languages.
		</p>
		<p class="mb-4">
			Currently living in 🇦🇷 and working as an iOS/watchOS engineer @ <a class="sm:hover:underline" href={WORK_LINKS.runna} target="_blank" rel="noopener noreferrer">Runna</a>.
		</p>
		<p class="mb-4">
			This is my little corner of the internet, where I share whatever inspires me in the form of blog posts.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Reading" class="mt-16">
		<h2 class="title mb-4 text-xl">Reading</h2>
		<p class="mb-4">
			All my highlights are collected on my Readwise.
			You can join to my newsletter to get them in your inbox,
			by clicking
			<a class="sm:hover:underline" href={READING_LINKS.readwise} target="_blank" rel="noopener noreferrer">here</a>.
		</p>
	</section>
</PageLayout>
