---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import { WORK_LINKS } from "@/data/constants";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">
			Life isn’t about finding yourself, or finding anything. Life is about creating yourself, and
			creating things - Bob Dylan
		</h1>
		<p class="mb-4">
			Hi, I'm a software engineer and iOS developer currently living in 🇦🇷 and working @
			<a class="sm:hover:underline" href={WORK_LINKS.venmo} target="_blank">Venmo</a>. This is my
			tiny and simple space in which I share my thoughts about everything I like to write about in
			the form of blog posts.
		</p>
		<p>
			Common topics you'll find here: development, startups, finances, crypto/web3, economy, UX/UI,
			productivity, climate change, physical and mental health, reading, fitness, science, and more.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
